h1{
    color: red;
}

.parent{
   
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;

    position: relative;
    top: 100px;
    left: 100px;
    /* bottom: 10px; */
    /* right: ; */ 


    position: absolute;
 

    /* position: fixed; */

}

.navbar{
    position: sticky;
    top: 0;
    background-color: aqua;
    display: inline;
}


.span-class{
    background-color: blueviolet;
    display: inline-block ;
    width: 500px;
}
button{
    display: block;
}

.main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: black;
}


/* ul{
    display: flex;
    border: 2px solid black;
    /* flex-direction: column; */

    /* align-items:center ; */
    /* justify-content: space-evenly;


}
  */


ul{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr  ;
    gap: 10px;
    
    /* align-items: center; */

}

li{
    text-align: center;
    border: 2px solid black;
}



.box1{
    z-index: 15;
       top:100px;
    left: 120px;
}

.box2{
    z-index: 16;
       top:100px;
    left: 50px;
    background-color: green;
}
.box3{
    z-index: 11;
       top:150px;
    left: 10px;
    background-color: blue;
}
.box4{
    z-index: -99;
       top:150px;
    left: 120px;
    background-color: pink;
}